*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}
.titulo{
    color: #800000;
}