*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header{
    background-color: #800000;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    display:flex;
}
.direita {
    font-size: 0px;
    font-style: italic;
}
.titulo{
    font-family:'Rubik', sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #fff;

}
body{
    background-color: black;
}